/* Navbar Styles */

.mdl-layout__header-row {
	height: 70px !important;
}

.navbar {
	height: 70px;
	position: fixed;
	background: white;
	// @include transition(.3s);
	a {
		padding: 0 15px !important;
	}
	.mdi, .mdl-textfield__input {
		color:  #78909c;
	}
	.mdi {
		margin-top: 5px;
		font-size: 25px;
	}
	.mdl-menu__container.is-visible {
	}
	.mdl-navigation__link {
		margin-top: 7px;
	}
	.mdl-badge {
		margin-right: 0;
	}
	.mdl-badge[data-badge]:after {
		top: 3px;
		right: -11px;
	}
	li.mdl-menu__item {
		a {
		    color: inherit;
		    text-decoration: none;
		    font-size: inherit;
		    font-weight: inherit;
		    text-align: inherit;
		    padding: 0 !important;
		}
	}
	.color-picker {
		width: 100%;
		td {
			text-align: center;
			border: 1px solid #EFEFEF;
		}
	}
	.nav-button {
		.mdl-badge[data-badge]:after {
			top: 0;
			right: 0;
		}
	}
}


