/* responsive dashboard */

.responsive-logo {
    display: none;
}
@media screen and (max-width: 839px) {
    .responsive-logo {
    	color: $primary;
        display: block;
    	position: absolute;
	    left: 0;
	    right: 0;
	    text-align: -webkit-center;
	    top: 15px;
	    font-size: 18px;
	    text-transform: uppercase;
	    letter-spacing: 1.3px;
	    font-weight: 500;
	    .smaller {
	    	font-size: 15px;
	    	letter-spacing: 1.1px;
	    	font-weight: 100;
	    	margin-left: -6px;
	    }
    }
    .sidebar {
    	left: -235px;
    }
    .page-content {
    	padding-left: 15px;
    }
    .mdl-layout__header-row {
    	padding-left: 2px;
    }
    .top-logo-extended {
        width: 215px !important;
    }
    .small-sidebar {
        &.extended {            
            .sidebar {
                left: 0; 
                .dashboard-menu {
                    ul.menu-list {
                        margin-top: 0;
                        li {
                            a {
                                line-height: auto;
                                display: block;
                                font-size: 14px;
                                width: auto;
                                span.text {
                                    width: auto;
                                }
                            }
                        }
                    }
                }
                img.sidebar-profile {
                    margin-top: 30px !important;
                }
                .info {
                    top: 120px !important;
                    right: 60px !important;
                    .pen {
                        top: 10px !important;
                        right: -40px !important;
                    }
                }
            }
            .profile-content {
        	   margin-right: -210px !important;
            }
        	.page-content {
        		margin-right: -210px !important;
        	}
        	.responsive-logo {
        		display: none;
        	}
        	.mdl-layout__header-row {
    	    	padding-left: 72px;
    	    }        
        }
    }
}