/* styles for buttons */

.primary {
	background: $primary;
	color: #fff;
	&:hover {
	    background-color: $primary;
	}
}

.green {
	background: $green;
	color: #fff;
	&:hover {
	    background-color: $green;
	}
}

.primary-flat {
	color: $primary;
}

.green-flat {
	color: $green;
}